<tbody>
<% Question.all.each do |ques| %>
<table>
  <tr>
    <td>Question:<%=ques.id+1 %></td>
    <td><%= link_to ques.question, { controller:'question',action:'show', id: ques.id} %></td>
  </tr>
</table>
<% end %>
</tbody>