<% @user.questions.each do |question| %>
  <table>
    <tr>
      <td>Question:<%=question.id+1 %></td>
      <td><%= link_to question.question, { controller:'question',action:'show', id: question.id} %></td>
      <td>Votes(<%= question.votes.count%>)</td>
  </table>
<% end %>